body{
    font-family:'PT Sans Narrow', sans-serif;
    font-size:14px;
    line-height:0.9em;
    text-transform: uppercase;
}
h1{
    font-size:30px;
    line-height:1.8em;
    font-weight:bold;
}
h2{
    font-size:24px;
    font-weight:bold;
}
.main-header{
    min-height: 70px;
}
.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-navigation{
    min-height: 70px;
    width: 780px;
    float:left;
}
.user-block{
    min-height: 70px;
    width: 140px;
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.breadcrumbs li{
    display: inline-block;
}
.items-information{
    width: 410px;
    float:right;
    margin-left: 500px;
    margin-top: 0;
}
.items-image{
    width: 500px;
    float: left;

}
.items-image7, .items-image8, .items-image9{
    width: 140px;
    height: 149px;
    float: left;
}
.items-image8, .items-image9{
    margin-left: 21px;
}

